In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
import tensorflow as tf

In [3]:
df= pd.read_csv(r"C:\Users\axe\JupyterNotebooks\datasets\Model_Data.csv")
df.head()

,Row Labels,Hour,Date-Hour,Month,Year,Sum/Win,WeekNumber,Weeday,Prior Period Temp C,Avg Temp C,...,Dew C,Humidity,Visibility (km),Wind Dir,Wind Speed (km/h),Gust Speed (km/h),Precip (mm),Events,Conditions,Max kW
0,1/5/2014,0,5/1/2014-0,5,2014,1,18,4,6,6,...,6,97.0,16.1,West,14.8,NaN,NaN,NaN,Overcast,35
1,1/5/2014,1,5/1/2014-1,5,2014,1,18,4,6,6,...,6,100.0,16.1,WSW,14.8,NaN,NaN,NaN,Overcast,35
2,1/5/2014,2,5/1/2014-2,5,2014,1,18,4,6,6,...,6,98.0,16.1,WSW,13,NaN,NaN,NaN,Overcast,35
3,1/5/2014,3,5/1/2014-3,5,2014,1,18,4,7,6,...,6,100.0,16.1,WSW,14.8,25.9,NaN,NaN,Light Drizzle,36
4,1/5/2014,4,5/1/2014-4,5,2014,1,18,4,6,6,...,6,100.0,16.1,West,14.8,NaN,NaN,NaN,Overcast,63

In [4]:
for col in df.columns: 
    print(col)

Row Labels
Hour
Date-Hour
Month
Year
Sum/Win
WeekNumber
Weeday
Prior Period Temp C
Avg Temp C
Winter HDD (51 Base)
Summer CDD (51 Base)
Max Temp C
Dew C
Humidity
Visibility (km)
Wind Dir
Wind Speed (km/h)
Gust Speed (km/h)
Precip (mm)
Events
Conditions
Max kW

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8215 entries, 0 to 8214
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row Labels            8215 non-null   object
 1   Hour                  8215 non-null   int64
 2   Date-Hour             8215 non-null   object
 3   Month                 8215 non-null   int64
 4   Year                  8215 non-null   int64
 5   Sum/Win               8215 non-null   int64
 6   WeekNumber            8215 non-null   int64
 7   Weeday                8215 non-null   int64
 8   Prior Period Temp C   8215 non-null   int64
 9   Avg Temp C            8215 non-null   int64
 10  Winter HDD (51 Base)  8215 non-null   float64
 11  Summer CDD (51 Base)  8215 non-null   float64
 12  Max Temp C            8215 non-null   int64
 13  Dew C                 8215 non-null   int64
 14  Humidity              8215 non-null   float64
 15  Visibility (km)       8215 non-null   float64
 16  Wind Dir              8215 non-null   object
 17  Wind Speed (km/h)     8215 non-null   object
 18  Gust Speed (km/h)     1547 non-null   float64
 19  Precip (mm)           149 non-null    float64
 20  Events                449 non-null    object
 21  Conditions            8215 non-null   object
 22  Max kW                8215 non-null   int64
dtypes: float64(6), int64(11), object(6)
memory usage: 1.4+ MB

In [5]:
df.isnull().values.any()

True

In [6]:
df.isnull().sum().sum()

22505

In [8]:
df['Hour'].isnull().values.any()

False

In [9]:
df['Date-Hour'].isnull().values.any()

False

In [11]:
df['Month'].isnull().values.any()

False

In [12]:
df['Year'].isnull().values.any()

False

In [13]:
df['Sum/Win'].isnull().values.any()

False

In [14]:
df['Month'].isnull().values.any()

False

In [16]:
df['Prior Period Temp C'].isnull().values.any()

False

In [17]:
df['Avg Temp C'].isnull().values.any()

False

In [18]:
df['Winter HDD (51 Base)'].isnull().values.any()

False

In [19]:
df['Summer CDD (51 Base)'].isnull().values.any()

False

In [20]:
df['Max Temp C'].isnull().values.any()

False

In [21]:
df['Dew C'].isnull().values.any()

False

In [25]:
df['Humidity'].isnull().values.any()

True

Humidity has Null Values.

In [23]:
df['Humidity'].isnull().sum()

2

# Humidity has 2 Null Values.

In [24]:
df['Visibility (km)'].isnull().values.any()

True

In [26]:
df['Visibility (km)'].isnull().sum()

2

# Visibility (km) has 2 Null Values.

In [27]:
df['Wind Dir'].isnull().values.any()

False

In [28]:
df['Wind Speed (km/h)'].isnull().values.any()

True

In [30]:
df['Wind Speed (km/h)'].isnull().sum()

1

# Wind Speed (km/h) has 1 Null Values.

In [31]:
df['Gust Speed (km/h)'].isnull().values.any()

True

In [32]:
df['Gust Speed (km/h)'].isnull().sum()

6668

# Gust Speed (km/h) has 6668 Null Values.

In [33]:
df['Precip (mm)'].isnull().values.any()

True

In [36]:
df['Precip (mm)'].isnull().sum()

8066

# Precip (mm) has 8066 Null Values.

In [37]:
df['Events'].isnull().values.any()

True

In [38]:
df['Events'].isnull().sum()

7766

# Events has 7766 Null Values.

In [39]:
df['Conditions'].isnull().values.any()

False

In [40]:
df['Max kW'].isnull().values.any()

False

In [35]:
df.describe()

,Hour,Month,Year,Sum/Win,WeekNumber,Weeday,Prior Period Temp C,Avg Temp C,Winter HDD (51 Base),Summer CDD (51 Base),Max Temp C,Dew C,Humidity,Visibility (km),Gust Speed (km/h),Precip (mm),Max kW
count,8215.000000,8215.000000,8215.000000,8215.000000,8215.000000,8215.000000,8215.000000,8215.000000,8215.000000,8215.000000,8215.000000,8215.000000,8213.000000,8213.000000,1547.000000,149.000000,8215.000000
mean,11.499330,6.404260,2014.350213,0.472185,26.371516,3.999391,10.104808,10.104565,0.386488,0.356372,10.406695,4.949970,73.386948,14.598332,35.177893,1.366443,176.888010
std,6.917157,3.521067,0.477066,0.499256,15.326915,1.997045,11.764928,11.765975,0.551775,0.445714,11.802326,11.361463,18.582560,3.719409,7.929274,1.897317,108.824429
min,0.000000,1.000000,2014.000000,0.000000,1.000000,1.000000,-23.000000,-23.000000,0.000000,0.000000,-23.000000,-26.000000,20.000000,0.400000,14.800000,0.300000,32.000000
25%,6.000000,3.000000,2014.000000,0.000000,13.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,-3.000000,61.000000,16.100000,29.600000,0.300000,70.000000
50%,12.000000,6.000000,2014.000000,0.000000,25.000000,4.000000,11.000000,11.000000,0.000000,0.100000,12.000000,5.000000,76.000000,16.100000,33.300000,0.500000,192.000000
75%,17.000000,10.000000,2015.000000,1.000000,41.000000,6.000000,20.000000,20.000000,0.700000,0.700000,20.000000,15.000000,88.000000,16.100000,38.900000,1.500000,247.000000
max,23.000000,12.000000,2015.000000,1.000000,53.000000,7.000000,33.000000,33.000000,2.500000,1.700000,33.000000,27.000000,100.000000,16.100000,72.200000,10.200000,446.000000

In [41]:
df.dtypes

Row Labels               object
Hour                      int64
Date-Hour                object
Month                     int64
Year                      int64
Sum/Win                   int64
WeekNumber                int64
Weeday                    int64
Prior Period Temp C       int64
Avg Temp C                int64
Winter HDD (51 Base)    float64
Summer CDD (51 Base)    float64
Max Temp C                int64
Dew C                     int64
Humidity                float64
Visibility (km)         float64
Wind Dir                 object
Wind Speed (km/h)        object
Gust Speed (km/h)       float64
Precip (mm)             float64
Events                   object
Conditions               object
Max kW                    int64
dtype: object

In [42]:
df.fillna(df.mean())

,Row Labels,Hour,Date-Hour,Month,Year,Sum/Win,WeekNumber,Weeday,Prior Period Temp C,Avg Temp C,...,Dew C,Humidity,Visibility (km),Wind Dir,Wind Speed (km/h),Gust Speed (km/h),Precip (mm),Events,Conditions,Max kW
0,1/5/2014,0,5/1/2014-0,5,2014,1,18,4,6,6,...,6,97.0,16.1,West,14.8,35.177893,1.366443,NaN,Overcast,35
1,1/5/2014,1,5/1/2014-1,5,2014,1,18,4,6,6,...,6,100.0,16.1,WSW,14.8,35.177893,1.366443,NaN,Overcast,35
2,1/5/2014,2,5/1/2014-2,5,2014,1,18,4,6,6,...,6,98.0,16.1,WSW,13,35.177893,1.366443,NaN,Overcast,35
3,1/5/2014,3,5/1/2014-3,5,2014,1,18,4,7,6,...,6,100.0,16.1,WSW,14.8,25.900000,1.366443,NaN,Light Drizzle,36
4,1/5/2014,4,5/1/2014-4,5,2014,1,18,4,6,6,...,6,100.0,16.1,West,14.8,35.177893,1.366443,NaN,Overcast,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8210,30/4/2015,19,4/30/2015-19,4,2015,0,18,4,17,16,...,0,35.0,16.1,NNE,11.1,35.177893,1.366443,NaN,Clear,292
8211,30/4/2015,20,4/30/2015-20,4,2015,0,18,4,14,14,...,1,42.0,16.1,NE,5.6,35.177893,1.366443,NaN,Clear,289
8212,30/4/2015,21,4/30/2015-21,4,2015,0,18,4,12,12,...,1,47.0,16.1,ENE,9.3,35.177893,1.366443,NaN,Clear,97
8213,30/4/2015,22,4/30/2015-22,4,2015,0,18,4,12,11,...,1,49.0,16.1,East,7.4,35.177893,1.366443,NaN,Clear,36
8214,30/4/2015,23,4/30/2015-23,4,2015,0,18,4,11,10,...,1,55.0,16.1,Calm,Calm,35.177893,1.366443,NaN,Clear,36

In [45]:
df['Humidity'].fillna((df['Humidity'].mean()), inplace=True)

In [47]:
df['Humidity'].isnull().values.any()

False

In [48]:
df['Visibility (km)'].fillna((df['Humidity'].mean()), inplace=True)

In [50]:
df['Visibility (km)'].isnull().values.any()

False

In [49]:
df['Wind Speed (km/h)'].fillna((df['Humidity'].mean()), inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8215 entries, 0 to 8214
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row Labels            8215 non-null   object
 1   Hour                  8215 non-null   int64
 2   Date-Hour             8215 non-null   object
 3   Month                 8215 non-null   int64
 4   Year                  8215 non-null   int64
 5   Sum/Win               8215 non-null   int64
 6   WeekNumber            8215 non-null   int64
 7   Weeday                8215 non-null   int64
 8   Prior Period Temp C   8215 non-null   int64
 9   Avg Temp C            8215 non-null   int64
 10  Winter HDD (51 Base)  8215 non-null   float64
 11  Summer CDD (51 Base)  8215 non-null   float64
 12  Max Temp C            8215 non-null   int64
 13  Dew C                 8215 non-null   int64
 14  Humidity              8215 non-null   float64
 15  Visibility (km)       8215 non-null   float64
 16  Wind Dir              8215 non-null   object
 17  Wind Speed (km/h)     8215 non-null   object
 18  Gust Speed (km/h)     1547 non-null   float64
 19  Precip (mm)           149 non-null    float64
 20  Events                449 non-null    object
 21  Conditions            8215 non-null   object
 22  Max kW                8215 non-null   int64
dtypes: float64(6), int64(11), object(6)
memory usage: 1.4+ MB

In [52]:
## Return a tuple representing the dimensionality of the DataFrame.
print("Shape of the data: {} --> n_rows = {}, n_cols = {}".format(df.shape, df.shape[0],df.shape[1]))

Shape of the data: (8215, 23) --> n_rows = 8215, n_cols = 23

In [53]:
df.tail(10)

,Row Labels,Hour,Date-Hour,Month,Year,Sum/Win,WeekNumber,Weeday,Prior Period Temp C,Avg Temp C,...,Dew C,Humidity,Visibility (km),Wind Dir,Wind Speed (km/h),Gust Speed (km/h),Precip (mm),Events,Conditions,Max kW
8205,30/4/2015,14,4/30/2015-14,4,2015,0,18,4,18,18,...,1,31.0,16.1,North,29.6,35.2,NaN,NaN,Clear,356
8206,30/4/2015,15,4/30/2015-15,4,2015,0,18,4,19,19,...,0,29.0,16.1,NNE,22.2,35.2,NaN,NaN,Clear,337
8207,30/4/2015,16,4/30/2015-16,4,2015,0,18,4,19,19,...,1,31.0,16.1,NNE,13,29.6,NaN,NaN,Clear,332
8208,30/4/2015,17,4/30/2015-17,4,2015,0,18,4,19,19,...,1,31.0,16.1,NE,22.2,27.8,NaN,NaN,Clear,305
8209,30/4/2015,18,4/30/2015-18,4,2015,0,18,4,18,18,...,0,30.0,16.1,NE,14.8,NaN,NaN,NaN,Clear,294
8210,30/4/2015,19,4/30/2015-19,4,2015,0,18,4,17,16,...,0,35.0,16.1,NNE,11.1,NaN,NaN,NaN,Clear,292
8211,30/4/2015,20,4/30/2015-20,4,2015,0,18,4,14,14,...,1,42.0,16.1,NE,5.6,NaN,NaN,NaN,Clear,289
8212,30/4/2015,21,4/30/2015-21,4,2015,0,18,4,12,12,...,1,47.0,16.1,ENE,9.3,NaN,NaN,NaN,Clear,97
8213,30/4/2015,22,4/30/2015-22,4,2015,0,18,4,12,11,...,1,49.0,16.1,East,7.4,NaN,NaN,NaN,Clear,36
8214,30/4/2015,23,4/30/2015-23,4,2015,0,18,4,11,10,...,1,55.0,16.1,Calm,Calm,NaN,NaN,NaN,Clear,36

Then, we can use the array to index our dataframe. For example, here I want to see the first and the last 5 samples:

In [54]:
df.iloc[np.r_[0:5, -5:0]]

,Row Labels,Hour,Date-Hour,Month,Year,Sum/Win,WeekNumber,Weeday,Prior Period Temp C,Avg Temp C,...,Dew C,Humidity,Visibility (km),Wind Dir,Wind Speed (km/h),Gust Speed (km/h),Precip (mm),Events,Conditions,Max kW
0,1/5/2014,0,5/1/2014-0,5,2014,1,18,4,6,6,...,6,97.0,16.1,West,14.8,NaN,NaN,NaN,Overcast,35
1,1/5/2014,1,5/1/2014-1,5,2014,1,18,4,6,6,...,6,100.0,16.1,WSW,14.8,NaN,NaN,NaN,Overcast,35
2,1/5/2014,2,5/1/2014-2,5,2014,1,18,4,6,6,...,6,98.0,16.1,WSW,13,NaN,NaN,NaN,Overcast,35
3,1/5/2014,3,5/1/2014-3,5,2014,1,18,4,7,6,...,6,100.0,16.1,WSW,14.8,25.9,NaN,NaN,Light Drizzle,36
4,1/5/2014,4,5/1/2014-4,5,2014,1,18,4,6,6,...,6,100.0,16.1,West,14.8,NaN,NaN,NaN,Overcast,63
8210,30/4/2015,19,4/30/2015-19,4,2015,0,18,4,17,16,...,0,35.0,16.1,NNE,11.1,NaN,NaN,NaN,Clear,292
8211,30/4/2015,20,4/30/2015-20,4,2015,0,18,4,14,14,...,1,42.0,16.1,NE,5.6,NaN,NaN,NaN,Clear,289
8212,30/4/2015,21,4/30/2015-21,4,2015,0,18,4,12,12,...,1,47.0,16.1,ENE,9.3,NaN,NaN,NaN,Clear,97
8213,30/4/2015,22,4/30/2015-22,4,2015,0,18,4,12,11,...,1,49.0,16.1,East,7.4,NaN,NaN,NaN,Clear,36
8214,30/4/2015,23,4/30/2015-23,4,2015,0,18,4,11,10,...,1,55.0,16.1,Calm,Calm,NaN,NaN,NaN,Clear,36

In [55]:
dataset = df.drop(['Gust Speed (km/h)','Precip (mm)','Events'], axis=1)

In [56]:
dataset.head()

,Row Labels,Hour,Date-Hour,Month,Year,Sum/Win,WeekNumber,Weeday,Prior Period Temp C,Avg Temp C,Winter HDD (51 Base),Summer CDD (51 Base),Max Temp C,Dew C,Humidity,Visibility (km),Wind Dir,Wind Speed (km/h),Conditions,Max kW
0,1/5/2014,0,5/1/2014-0,5,2014,1,18,4,6,6,0.3,0.0,6,6,97.0,16.1,West,14.8,Overcast,35
1,1/5/2014,1,5/1/2014-1,5,2014,1,18,4,6,6,0.3,0.0,6,6,100.0,16.1,WSW,14.8,Overcast,35
2,1/5/2014,2,5/1/2014-2,5,2014,1,18,4,6,6,0.3,0.0,7,6,98.0,16.1,WSW,13,Overcast,35
3,1/5/2014,3,5/1/2014-3,5,2014,1,18,4,7,6,0.3,0.0,6,6,100.0,16.1,WSW,14.8,Light Drizzle,36
4,1/5/2014,4,5/1/2014-4,5,2014,1,18,4,6,6,0.3,0.0,6,6,100.0,16.1,West,14.8,Overcast,63

In [ ]:
dataset.hist(figsize=(16,12))
plt.show()

In [57]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8215 entries, 0 to 8214
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row Labels            8215 non-null   object
 1   Hour                  8215 non-null   int64
 2   Date-Hour             8215 non-null   object
 3   Month                 8215 non-null   int64
 4   Year                  8215 non-null   int64
 5   Sum/Win               8215 non-null   int64
 6   WeekNumber            8215 non-null   int64
 7   Weeday                8215 non-null   int64
 8   Prior Period Temp C   8215 non-null   int64
 9   Avg Temp C            8215 non-null   int64
 10  Winter HDD (51 Base)  8215 non-null   float64
 11  Summer CDD (51 Base)  8215 non-null   float64
 12  Max Temp C            8215 non-null   int64
 13  Dew C                 8215 non-null   int64
 14  Humidity              8215 non-null   float64
 15  Visibility (km)       8215 non-null   float64
 16  Wind Dir              8215 non-null   object
 17  Wind Speed (km/h)     8215 non-null   object
 18  Conditions            8215 non-null   object
 19  Max kW                8215 non-null   int64
dtypes: float64(4), int64(11), object(5)
memory usage: 1.3+ MB

In [ ]:
power_info.date = dataset.to_datetime(dataset.date)
power_info.set_index(['date'], inplace=True)       
power_info.head()

In [ ]:
def clear_wind(obj):
    if isinstance(obj, str):
        if obj == 'No wind':
            obj = 0
        else:
            obj = obj.replace(' km/h', '')
    return obj
def trans_from_objects(weather):
    df.drop(['date', 'visibility'], axis =1, inplace=True)
    df  = df.apply(lambda x: x.replace(' mbar', '') 
                                    if isinstance(x, str) else x).astype(float)
    
    humidity = df.humidity.apply(lambda x: x.replace('%', '') 
                                    if isinstance(x, str) else x).astype(float)
    temp = df.temp.apply(lambda x: x.replace('°C', '') 
                                    if isinstance(x, str) else x).astype(float)
    wind = df.wind.apply(clear_wind).astype(float)
    
    return weather

#transfer dataframe from objects dtype to numbers
weather_tran = trans_from_objects(weather)
weather_tran.head()

In [ ]:
#Form the date column 
def create_date(weather):    
    weather['date'] = weather.apply(lambda row:
                                    f'{row.year}-{row.month}-{row.day} {row.clock}', axis=1)
    weather.date = pd.to_datetime(weather.date)
    return weather.drop(['time', 'year', 'month', 'day'], axis = 1)

weather_pretty = create_date(weather_tran)
weather_pretty.head()

In [ ]:
#to take the average of each day, so we have daily weather. Because we have the daily cum_power not hourly
import datetime 
def take_average_weather(weather):
    average_weather = pd.DataFrame(columns = ['temp', 'weather', 'wind', 'humidity', 'barometer',
                                              'date'])

    temp, wind, humidity, barometer, counter= [0]*5
    for i in range(len(weather)):
        if (weather.loc[i, 'date'].time() ==datetime.time(0, 20)) and (i!=0):
            average_weather = average_weather.append({
                'temp':temp/counter,
                'wind':wind/counter,
                'humidity':humidity/counter,
                'barometer':barometer/counter,
                'date':pd.to_datetime(weather.loc[i-1, 'date'].date()),
                'weather':weath
            }, ignore_index=True)
            temp, wind, humidity, barometer, counter= [0]*5
            
        #Here we'll take the weather status in the most powerful hour (15:20), because you can't take averge 
                                                                                                    #here.
        if (weather.loc[i, 'date'].time()==datetime.time(15,20)):
            weath = weather.loc[i, 'weather']
        counter += 1
        temp += weather.loc[i, 'temp']
        wind += weather.loc[i, 'wind']
        humidity += weather.loc[i, 'humidity']
        barometer += weather.loc[i, 'barometer']
        
    return average_weather
average_weather = take_average_weather(weather_pretty)

In [ ]:
import seaborn as sns
weather_counts = final_dataset.weather.value_counts()
plt.figure(figsize=(16,5))
sns.barplot(weather_counts.index, weather_counts.values, alpha=0.8)
plt.xticks(rotation=90)
plt.title('Weather Status')
plt.xlabel('Status')
plt.ylabel('Number Of Repetition')
plt.show()

In [ ]:
final_dataset = final_dataset.reset_index()


for i in range(len(final_dataset)):
    weather_list = final_dataset.loc[i, 'weather'].split('.')
    if len(weather_list) > 2:
        final_dataset.loc[i,'weather'] = weather_list[1].strip()
    elif len(weather_list) ==2:
        final_dataset.loc[i, 'weather'] = weather_list[0].strip()
final_dataset.head()

#get the index back to "date"
final_dataset.set_index('date', inplace=True)

In [ ]:
from matplotlib import pyplot as plt
final_dataset.weather.value_counts()
weather_counts = final_dataset.weather.value_counts()

plt.figure(figsize=(12,6))
sns.barplot(weather_counts.index, weather_counts.values, alpha=0.8)
plt.xticks(rotation=33)
plt.title('Weather Status')
plt.xlabel('Status')
plt.ylabel('Number Of Repetition')
plt.show()

In [ ]:
final_dataset.hist(figsize=(16,12))
plt.show()

In [ ]:
def reduce_categories(weather):
    #Delete all first parts of two-part status, and highligh only the necessary categories. 
    #why the first part? Because we don't care about the raining or snowing weather, we care more about 
    #status of clouds
    for i in range(len(weather)):
        weather_list = weather.loc[i, 'weather'].split('.')
        if len(weather_list) > 2:
            weather.loc[i,'weather'] = weather_list[1].strip()
        elif len(weather_list) ==2:
            weather.loc[i, 'weather'] = weather_list[0].strip()

    weather.weather = weather.weather.map({
        'Ice fog':'Fog',
        'Haze':'Fog',
        'Fog':'Fog',
        'Clear':'Sunny',
        'Sunny':'Sunny',
        'Broken clouds':'Scattered clouds',
        'Scattered clouds':'Scattered clouds',
        'Overcast':'Cloudy',
        'More clouds than sun':'Cloudy',
        'More sun than clouds':'Sunny',
        'Low clouds':'Cloudy',
        'Mostly cloudy':'Cloudy',
        'Cloudy':'Cloudy',
        'Passing clouds':'Passing clouds',
        'Partly sunny':'Partly sunny',
        'Mostly sunny':'Sunny'
    },na_action='ignore')
    return weather
final_dataset = reduce_categories(final_dataset)

#get the index back to "date"
final_dataset.set_index('date', inplace=True)

In [ ]:
from matplotlib import pyplot as plt
final_dataset.weather.value_counts()
weather_counts = final_dataset.weather.value_counts()

plt.figure(figsize=(12,6))
sns.barplot(weather_counts.index, weather_counts.values, alpha=0.8)
plt.xticks(rotation=33)
plt.title('Weather Status')
plt.xlabel('Status')
plt.ylabel('Number Of Repetition')
plt.show()

In [ ]:
final_dataset.hist(figsize=(16,12))
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split 
train_set, test_set = train_test_split(final_dataset, test_size=0.3, 
                                                   random_state=42) 
df = train_set.copy() 
df.describe()

In [ ]:
df.corr()

In [ ]:
from pandas.plotting import scatter_matrix 
scatter_matrix(df, figsize=(16,18), alpha=0.4) 
plt.show()

In [ ]:
df.plot(kind='scatter', x= 'humidity',y='day_power', figsize=(9,7), alpha=0.4) 
plt.show()

In [ ]:
#To delete data anomalies
import random
df.day_power = df.day_power.apply(lambda x: x+random.randint(0,50)/100 if x==0 else x)
for i in range(1,34):
    df.day_power = df.day_power.apply(lambda x: x+random.randint(-50,50)/100 if x==i else x)
df.plot(kind='scatter', x= 'humidity',y='day_power', figsize=(9,7), alpha=0.4) 
plt.show()

In [ ]:
from sklearn.pipeline import Pipeline 
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder 
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import MinMaxScaler 


num_pipeline = Pipeline([ 
    ('imputer', SimpleImputer(strategy='median')), 
    ('scaler', MinMaxScaler()) 
]) 

cat_pipeline = Pipeline([ 
    ('encoder', OneHotEncoder()) 
]) 

full_pipeline = ColumnTransformer([ 
    ('num_pipeline', num_pipeline, num_attr),
    ('cat_pipeline', cat_pipeline, cat_attr) 
])

In [ ]:
prepared_features = full_pipeline.fit_transform(features)

In [ ]:

from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error as mse 
from sklearn.model_selection import cross_val_score  

lin_reg = LinearRegression() 
lin_reg.fit(prepared_features, labels) 
y_predicted = lin_reg.predict(prepared_features) 
scores = cross_val_score(lin_reg, prepared_features, labels, 
                         scoring='neg_mean_squared_error', cv=10) 
scores=np.sqrt(-scores) 
display(scores.mean()) 
scores.std()

In [ ]:
scores = cross_val_score(lin_reg, prepared_test, test_labels, 
                         scoring='neg_mean_squared_error', cv=10) 
scores=np.sqrt(-scores) 
display(scores.mean()) 
scores.std()

In [ ]:
avg=[]
labels_avg = []
for i in range(len(test_labels)):
    avg.append(test_labels[i])
    if i % 40 == 0:
        labels_avg.append(np.array(avg).mean())
        avg.clear()
avg=[]
pred_avg = []
for i in range(len(test_predicted)):
    avg.append(test_predicted[i])
    if i % 40 == 0:
        pred_avg.append(np.array(avg).mean())
        avg.clear()

In [ ]:
plt.figure(figsize=(16,6))
plt.plot(range(len(labels_avg)), labels_avg)
plt.plot(range(len(pred_avg)), pred_avg, 'r')
plt.title('Comparison between average predicted values and real ones in the test set')
plt.ylabel('Day Power')
plt.xlabel('Average Of Test Samples')
plt.legend(['Real Power', 'Predicted Power'])
plt.show()